.body{
    background-color: #332F35;
    color: whitesmoke;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.adress{
    font-style: italic;
}

.caption{
    color: whitesmoke;
}

.carouselWidth{
    width: 80%;
    margin: auto;
}
a:link{
    color:white;
}

a:visited{
    color: white;
}
