.body{
    background-color: #332F35;
    color: whitesmoke;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navItemsToCenter {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-brand{
    font-size: 30px !important;
    position: absolute;
    top: 0px;
    left: 10%;
    transform: translateX(-50%);
}
.navbar-expand-lg .navbar-collapse {
    margin: 25px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

a:link{
    color:white;
}

a:visited{
    color: white;
}

footer{
    flex: auto;
}